html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Roboto', sans-serif;
}
#header {
  background-color: #262a30;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0)), url(../img/man.jpg);
  background-position: right, right ;
  background-repeat: no-repeat, no-repeat;
  background-size: 50% 100%, 50%;
  color: #fff;
  text-align: left;
}
h1 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 145px;
}
#header h3 {
  color: #68c3a3;
  text-transform: uppercase;
}
#header img{
  display: block;
  margin: 50px 0;
}
#header a {
  text-transform:uppercase;
}
.contact_details {
  margin-top: 80%;
}
.social {
  padding: 30px 0;
}
.social li{
  list-style: none;
  display: inline-block;
}
.social a {
  list-style: none;
  display: inline-block;
  border: 2px dashed #fff;
  border-radius: 5px;
  transform: rotate(-45deg);
  margin: 0 10px;
}
.social i {
  color: #fff;
  font-size: 20px;
  padding: 10px;
  transform: rotate(45deg);
  height: 20px;
  width: 20px;
  box-sizing: content-box;
  text-align: center;
}
.social a:hover{
  text-decoration: none;
  border: 2px solid #fff;
}
.btn.btn-info,
.btn.btn-success {
  background: none;
  padding: 1.5em;
}
.btn.btn-info {
  background-color: #52b3d9;
  border-color: #52b3d9;
}
.btn.btn-success {
  background-color: #68c3a3;
  border-color: #68c3a3;
}
.btn.btn-info:hover,
.btn.btn-success:hover{
  background-color: transparent;
  font-weight: bold;
  transition: all .5s;
}
.navbar.navbar-default{
  background: none;
  background-color: #fff;
  border: 1px double #eeeeee;
  border-radius: 0;
  box-shadow: none;
  color: #000;
  font-weight: bold;
}
.navbar.navbar-default ul{
  text-transform: uppercase;
  float: none;
  display: flex;
  justify-content: center;
}

#nav a:hover{
  background-color: #68c3a3;
  color:#fff;
}

#about_me {
  text-align: center;
}

h2{
  text-transform: uppercase;
  text-align: center;
  font-weight:bold;
  color: #000;
}
h2::after{
  content: "";
  display: block;
  height: 20px;
  background: url(../img/png/divider.png) no-repeat 50%;
}

#about_me h4{
  text-transform: uppercase;
}
.about {
  margin: 30px;
}
.design {
  padding-top: 50px;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-around;
}
.design li:first-child i::before{
  font-size: 40px;
}
.design i::before {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 30px;
}
.design a{
  cursor: default;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.design li{
  width: 210px;
}


.design a::after {
  border-radius: 10px;
  content: "";
  display: block;
  height: 150px;
  width: 150px;
  border: 3px solid #f0f0f0;
  transform: rotate(45deg);
  position: relative;
  bottom: 95px;
  left:30px;
}
#resume h4{
  text-transform: uppercase;
  text-align: center;
  font-size: bold;
}

/* tree classes*/

.tree{
  padding: 0;
  list-style: none;
}
.tree li{
  display: flex;
  justify-content:flex-start;
}
.tree li:nth-child(odd){
  flex-flow: row nowrap;
}
.tree li:nth-child(even){
  flex-flow: row-reverse nowrap;
}
.tree__item{
  border: 2px solid #f0f0f0;
  width: 500px;
  padding: 2em;
  position: relative;
}
.tree__item::after{
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-right: 2px solid #f0f0f0;
  border-top: 2px solid #f0f0f0;
  position: absolute;
  transform: rotate(45deg);
  right: -6px;
  top: 45px;
}
.tree li:nth-child(even) .tree__item::after{
  left: -6px;
  transform: rotate(-135deg);
}
.tree__line{
  padding-top: 3em;
  width: 110px;
  margin: 0 15px;
  background: linear-gradient(to left, #fff, #fff 49%, #eee 49%, #eee 51%, #fff 51%, #fff);
  position: relative;
}
.tree__line p{
  font-weight: bold;
  text-align: center;
  background-color: #fff;
}
.tree li:first-child .tree__line::before,
.tree li:last-child .tree__line::after
{
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #f0f0f0;
  position: absolute;
  transform: rotate(45deg);
  right: 50px;
}
.tree li:first-child .tree__line::before{
  top: 0;
}
.tree li:last-child .tree__line::after{
  bottom: 0;
}
.tree__item:hover,
.tree__item:hover::after
{
  color: #fff;
  background-color: #68c3a3;
  border-color: #68c3a3;
}
.tree__item:hover + .tree__line{
  background: linear-gradient(to left, #fff, #fff 49%, #68c3a3 49%, #68c3a3 51%, #fff 51%, #fff);
  color: #68c3a3;
}
.tree__item:hover + .tree__line::before,
.tree__item:hover + .tree__line::after{
  background-color: #68c3a3 !important;
}

#work img{
  margin: 10px;
}

/* test O */

#o{
  width: 10px;
  height: 10px;
  background-color: #68c3a3;
  transition: width 4s;
}
#o:hover{
  width: 100%;
}
