@media screen and (max-width: 768px){
  .navbar.navbar-default ul{
    flex-direction: column;
    align-items: stretch;
  }
  .navbar.navbar-default ul a{
    text-align: center;
  }
  .tree li:first-child .tree__line::before,
  .tree li:last-child .tree__line::after
  {
    display: none;
  }
}
